In [3]:
import os 
import pandas as pd

In [4]:
df = pd.DataFrame({"Name": ['Aragorn', 'Boromir', 'Frodo','Galadriel'],
                     "Race": ["human", "human", "hobbit", "elf"],
                     "Age": [88,41,51,8382]})

In [5]:
df

        Name    Race   Age
0    Aragorn   human    88
1    Boromir   human    41
2      Frodo  hobbit    51
3  Galadriel     elf  8382

In [8]:
def divide(row):
    result = row['Age']/10
    return result

In [13]:
df['AGE_VALINOR'] =df.apply(divide,axis=1)

In [14]:
df

        Name    Race   Age  AGE_VALINOR
0    Aragorn   human    88          8.8
1    Boromir   human    41          4.1
2      Frodo  hobbit    51          5.1
3  Galadriel     elf  8382        838.2